*,
 :after,
 :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

body{
    background: azure;
}
/* colors */

.primary-color {
    color: white;
    background-color:#00ffff;
}


/* nav */
nav{
    z-index: 999;
    background: aqua;
}
.nav_ul>li>a {
    color: white !important;
    /* font-size: large; */
}

.nav_ul>li>a:hover {
    color: #faef53 !important;
}


/* carousel */

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    text-align: right;
    float: right;
    right: 2% !important;
    left: inherit;
    top: 6rem;
}


/* image  */

.cover {
    object-fit: cover;
    width: 50px;
    height: 500px;
}


/* .banner */

.banner {
    margin: -0.9rem 1rem 0 1rem;
    ;
}

.banner_transparent {
    background-color: #17a2b8b5;
    color: white;
    padding: 2rem;
    margin: 0;
}

.upbanner {
    margin-top: -145px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.br-0 {
    border-radius: 0;
}


/* page banner */

.page_banner {
    height: 250px;
    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Dodge-Challenger-SRT8-392-2011-03.jpg');
    background-position: center center;
    color: white;
}

.page_banner-text {
    position: absolute;
    color: white;
    left: 10%;
    top: 18%;
}


/* .search items */

.search_items {
    border-radius: 100px;
    /* text-align: center; */
    padding-left: 2rem;
    width: 80%;
}

#search_items_btn {
    cursor: pointer;
}


/* product card */

.product_card {
    width: 100%;
    padding: 0 1px;
}

.product_card-text {
    height: 4rem;
    overflow: hidden;
}


/* footer */

.footer-row {
    margin: 2rem 2rem 0rem 2rem;
    padding-top: 3rem;
    color: white;
}

.footer_offers>a {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #127d8e;
    color: white;
}

.footer_help>div {
    margin-top: 1rem;
    /* font-size: 20px; */
}

.footer_help>div>i {
    color: #010d0e;
    margin-right: 10px;
    font-size: 30px;
    margin-top: 1rem;
}

.footer_socialmedia>a>i {
    font-size: large;
    color: #010d0e;
}


/* underline h5 */

.underline::after {
    width: 50px;
    height: 3px;
    background-color: #f4c23d;
    left: 18px;
    top: 30px;
    position: absolute;
    content: '';
}


/* feedback */

.quotes {
    position: relative;
}

.quotes>i {
    position: absolute;
    font-size: 7rem;
    color: #0062cc94;
    z-index: -9;
}

.feedback {
    z-index: 9;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px 10px 0px 20px;
}

.feedback_cta>button {
    padding: 1rem;
    width: 40%;
    border-radius: 50px;
}

.linkdiv {
    text-decoration: none !important;
}


/* label card */

.card_label {
    background: #17a2b8;
    color: white;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    padding: 8px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px grey;
    /* box-shadow: 0 0 10px; */
}


/* list - row */

.list_row {
    flex-direction: row;
}


/* vehicle details page */

.breadcrumb {
    background-color: #e9ecef14;
}

.cardetails_carousel {
    height: 300px;
}


/* vehicle details page */

.vehicle_details {
    margin-top: 10rem;
}


/* utilities */

.btn-rounded {
    border-radius: 50px;
}

.header-simiral_vehicles {
    text-align: center;
    margin: 6rem 0 4rem 0;
}

.header-simiral_vehicles>p>i {
    font-size: xxx-large;
}


.card-img-top{
    max-height: 163px;
}

/* slick */
.slickcarousel {
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    color: #333;
    
}

.slick-arrow{
    color: #419be0;
    background-color: dodgerblue;
    border-radius: 100px;
}
.slick-arrow:hover, .slick-arrow:focus{
    color: #419be0;
    background-color: dodgerblue;
    font-size: large;
    border-radius: 100px;
}

.Ptestimonial{
    height: 100px;
    overflow: hidden;
    position: relative;
}

.Ptestimonial>div{
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 45px;
    opacity: 0.78;
    background-color: #ffffff;
}


/* media queries */